body {
    padding-top: 180px;
}

.list-group{
    padding-bottom: 10px;
}

.foto{
    /*max-width: 300px;*/
}
/*.main-content {*/
/*        padding-top: 180px;*/
/*    }*/

a {
    color: #F05D5E;
}
