body {
    padding-top: 180px;
}

.list-group{
    padding-bottom: 10px;
}

.foto{
    /*max-width: 300px;*/
}
/*.main-content {*/
/*        padding-top: 180px;*/
/*    }*/

a {
    color: #F05D5E;
}




.navbar-custom {
    background-color: lightgreen;
}
/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: green;
}
